streamlit
langchain
langchain-community
langchain-core
langchain-ollama
chromadb
requests
PyPDF
faiss-cpu
sentence_transformers
ipykernel
python-dotenv
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
langchain_huggingface
langchain_chroma
duckdb
pandas
openai
pypdf
protobuf==3.20.3 
matplotlib